<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CrossBrowser Test" parallel="tests" thread-count="2">

    <!-- Run on Chrome -->
    <test verbose="2" preserve-order="true" name="Testing in Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.ecommerce.tests.RegisterTest">
                <methods>
                    <include name="validRegister"/>
                    <include name="invalidRegister"/>
                </methods>
            </class>
            <class name="com.ecommerce.tests.LoginTest">
                <methods>
                    <include name="validLogin"/>
                    <include name="invalidLogin"/>
                    <include name="emptyCredentials"/>
                </methods>
            </class>
            <class name="com.ecommerce.tests.SearchTest">
                <methods>
                    <include name="Searching"/>
                </methods>
            </class>
        </classes>
    </test>

    <!-- Run on Edge -->
    <test verbose="2" preserve-order="true" name="Testing in Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.ecommerce.tests.RegisterTest">
                <methods>
                    <include name="validRegister"/>
                    <include name="invalidRegister"/>
                </methods>
            </class>
            <class name="com.ecommerce.tests.LoginTest">
                <methods>
                    <include name="validLogin"/>
                    <include name="invalidLogin"/>
                    <include name="emptyCredentials"/>
                </methods>
            </class>
            <class name="com.ecommerce.tests.SearchTest">
                <methods>
                    <include name="Searching"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
